body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    color: #333;
  }
  
  .header-box {
    background-color: #004e89;
    color: white;
    padding: 60px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 20px 20px;
  }
  
  .header-box h1 {
    font-size: 3em;
    margin: 0;
    letter-spacing: 1px;
  }
  
  .content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 10px;
  }
  
  .highlight {
    background-color: #e1f0ff;
    padding: 10px;
    border-left: 4px solid #007acc;
    margin: 20px 0;
  }
  
  footer {
    text-align: center;
    font-size: 0.9em;
    padding: 20px;
    color: #666;
  }

  #progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: #f3f3f3;
    z-index: 9999;
  }

  #progress-bar {
    height: 100%;
    width: 0%;
    background: magenta;
    transition: width 0.2s ease-out;
  }

  .panel {
    padding: 40px;
    margin: auto;
  }

  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
  }

  .sections-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 24px;
    padding: 20px 40px;
    max-width: 100%;
    box-sizing: border-box;
    justify-content: center;
  }
  
  
  .section {
    background-color: lightblue;
    padding: 30px;
    border-radius: 12px;
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
    gap: 20px;
  }
  
  .scroll-button {
    font-size: 1.25rem;
    padding: 15px 30px;
    background-color: #004e89; /* deep blue */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .scroll-button:hover {
    background-color: #006fbd;
    transform: translateY(-2px);
  }
  
  